#wrap,
.hb {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body,
html {
  overflow: hidden;
  height: 100%;
  font-size: 16px;
  font-family:'SourceHanSerif-206564f5a921a92', 'SourceHanSerif-206deebc8721a92'; /* Bold, Medium */
  color: #fff;
  background: #0000006e;
}
#wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  align-items: stretch;
  margin: 0 25%;
}
.hb {
  position: relative;
  width: 25%;
  align-items: center;
  z-index: 2;
}
.c,
.c img {
  position: relative;
  display: block;
}
.c {
  max-width: 90%;
}
.c img {
  width: 100%;
  height: auto;
  z-index: 2;
  border-radius: 6px;
}
.txt {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  opacity: 0;
  padding: 1em 0 0 1em;
  border-left: 1px solid;
  z-index: 1;
  transform: scaleY(1) translateY(-50px);
  transition: transform 0.2s, opacity 0.5s;
}
.fullBg,
.fullBg img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
.hb:hover .txt {
  opacity: 1;
  transform: scaleY(1) translateY(0);
}
.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(1);
  z-index: 1;
}
.fullBg img {
  object-fit: cover;
  object-position: center;
  opacity: 0.7; /* 遮罩透明度 */
}
.hb:hover + .fullBg {
  opacity: 1;
  transform: scale(1.02);
}
.credits {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5em;
  font-size: 0.8em;
  text-align: right;
  font-style: italic;
  opacity: 0.8;
  transition: opacity 0.2;
  z-index: 3;
}
.credits:hover {
  text-decoration: underline;
  opacity: 1;
}
.beian-icp {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
